
.container {
    width: 425px;
    overflow: hidden;
    > div:first-child{
      background-color: gainsboro;
      height:80px;
    }
    color: #FFF;
    background-color: #262222;
    margin: auto;
    height: 100%;
}

